.imagediv {
    background-color: white;
    color: white;
    border: 2px solid black;
    margin: 0px;
    padding: 10px;
  }

  .header {
    padding: 0.05%;
    text-align: center;
    background: black;
    color: grey;
    font-size: 20px;
  }
  
  .imagestodis {
    background-color: white;
    color: white;
    /* border: 2px solid black; */
    margin: 0px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 99%;
    height: 90%;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }